{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Projects</title>
        

        <!-- To be reconsidered -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    <body>

       
        <nav class="navbar">
             
            {% for message in messages%}
            <p style="color: red;">{{message}}</p>
            {% endfor %}
            <!-- LOGO -->
            <div class="logo"></div>
        
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
        
              <!-- USING CHECKBOX HACK -->
        
              <!-- NAVIGATION MENUS -->
              <div class="menu">
        
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
        
                <li class="services">
                  <a href="/">Services</a>
        
                  <!-- DROPDOWN MENU -->
                  <ul class="dropdown">
                    <li><a href="/">Dropdown 1 </a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 3</a></li>
                    <li><a href="/">Dropdown 4</a></li>
                  </ul>
        
                </li>
        
                <li><a href="/">Pricing</a></li>
                <li><a href="/"> {{user.email}} </a></li>
              </div>
            </ul>
          </nav>
    
       
        <div class="d-flex bg-light" id="wrapper">
           
                {% block content %}
                <a href="/create_project"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Add Project
                 </button></a>                    
                    
                                                  
                            <div class="table-responsive ">
                                <table class="table table-hover " style="cursor: pointer;">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Project Name</th>
                                            <th class="border-top-0">Project Contibutors</th>
                                            <th class="border-top-0">Project Creation Day</th>
                                            
                                            <th class="border-top-0"></th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%  for items in project %}
                                        <tr>
                                            
                                            <td><a href="/project/{{items.project_name}}">{{items.project_name}}</a></td>
                                            

                                            <td >
                                                {% for contributor in items.contributors.all %}
                                                <li>{{contributor.email}}</li>
                                                {% endfor %}
                                            </td>
                                            <td >
                                                {{items.created_at}}
                                            </td>
                                            

                                            <td>
                                                
                                                <a href="/updateProject/{{items.project_id}}"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Update
                                                 </button></a>
                                                <a href="/deleteProject/{{items.project_id}}"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Delete
                                                 </button></a>
                                                 <a href="/send_team_invite/{{items.project_id}}"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Send Invite
                                                 </button></a>   
                                            </td> 
                                               
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        
                                        

                                          
                                    </tbody>
                                </table>
                            </div>
                {% endblock %}     
               
                    
               
            
        </div>
        
        
       

   
        
        
    
    </body>
</html>