{% extends "signin.html" %}
{% block content %}
		      	
						<h3 class="text-center mb-4">{{issue}}</h3>
                        {% for message in messages%}
                            <p style="color: red;">{{message}}</p>
                        {% endfor %}
						<form  class="" method="POST"> {% csrf_token %}
							{% csrf_token %}
                            {{ issue_update.as_p}}
                            <input type="submit" value="Update">
                            <a href="/projects">Cancel</a>
						</form>                      
{% endblock %}