{% extends "signin.html" %}

{% block content %}
	<div class="alert alert-dismissible alert-success">
		{%for message in messages %}
			<p style="color: red;">{{message}}</p>
		{% endfor %}
	</div>
	
	<form  class="" method="POST"> {% csrf_token %}
		<input type="hidden" name="invitation_key" value="{{ invitation.key }}">

		<div class="form-group d-flex">
			<input type="password" name="password" class="form-control rounded-left bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" placeholder="Password"  style="border: 1px solid #d3d5d8 !important" required>
		</div>
		<div class="form-group d-flex">
			<input type="password" name="password2" class="form-control rounded-left bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" placeholder="Confirm Password"  style="border: 1px solid #d3d5d8 !important" required>
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Reset</button>
			{% endblock %}
		</div>
		
	</form>



		
		
	
